.route-m__table {
    margin-bottom: 22px;
    padding-top: 22px;
}

.route-m__table-row {
    display: flex;
    padding: 5px 0 5px;
}

.route-m__table-item {
    width: 50%;
    font-size: 14px;
}

.route-m__table-item_header {
    color: #828282;
}

.route-m__table-item .level {
    font-family: GilroyRegular, sans-serif;
}

.route-m__table-item-right {
    padding-left: 20px;
    box-sizing: border-box;
}
