.route-m__table {
    margin-bottom: 22px;
    padding-top: 22px;
}

.route-m__table-row {
    display: flex;
    padding: 5px 0 5px;
}

.route-m__table-item {
    width: 50%;
    font-size: 14px;
}

.route-m__table-item_header {
    color: #828282;
}

.route-m__table-item .level {
    font-family: GilroyRegular, sans-serif;
}

.route-m__table-item-right {
    padding-left: 20px;
    box-sizing: border-box;
}

.route-m__field-select {
    margin-left: -10px;
    margin-top: -3px;
}

.route-m__route-image-wrapper {
    position: relative;
    z-index: 2;
    height: 100%;
    overflow: hidden;
    transform: translateX(-50%);
    left: 50%;
    display: inline-block;
}

.route-m__route-image-wrapper img {
    height: 100%;
    width: auto;
    z-index: 2;
}
