.calendar {
    background-color: #ffffff;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.calendar__current-month {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar__current-month-next {
    border: none;
    padding: 4px;
    background-color: transparent;
    width: 8px;
    height: 12px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%228%22%20height%3D%2212%22%20viewBox%3D%220%200%208%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M0.255482%206.38488L5.99202%2011.6338C6.1247%2011.7553%206.30181%2011.8223%206.49066%2011.8223C6.67952%2011.8223%206.85663%2011.7553%206.98931%2011.6338L7.41177%2011.2474C7.68666%2010.9955%207.68666%2010.5863%207.41177%2010.3348L2.59466%205.92708L7.41711%201.51443C7.54979%201.39293%207.62305%201.23097%207.62305%201.05826C7.62305%200.885358%207.54979%200.723391%207.41711%200.601794L6.99466%200.21543C6.86187%200.0939312%206.68486%200.0269956%206.49601%200.0269956C6.30716%200.0269956%206.13004%200.0939312%205.99736%200.21543L0.255482%205.46917C0.122489%205.59106%200.049442%205.75379%200.0498612%205.92679C0.049442%206.10046%200.122489%206.26309%200.255482%206.38488Z%22%20fill%3D%22%231F1F1F%22/%3E%0A%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(180deg);
}

.calendar__current-month-prev {
    border: none;
    padding: 4px;
    background-color: transparent;
    width: 8px;
    height: 12px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%228%22%20height%3D%2212%22%20viewBox%3D%220%200%208%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M0.255482%206.38488L5.99202%2011.6338C6.1247%2011.7553%206.30181%2011.8223%206.49066%2011.8223C6.67952%2011.8223%206.85663%2011.7553%206.98931%2011.6338L7.41177%2011.2474C7.68666%2010.9955%207.68666%2010.5863%207.41177%2010.3348L2.59466%205.92708L7.41711%201.51443C7.54979%201.39293%207.62305%201.23097%207.62305%201.05826C7.62305%200.885358%207.54979%200.723391%207.41711%200.601794L6.99466%200.21543C6.86187%200.0939312%206.68486%200.0269956%206.49601%200.0269956C6.30716%200.0269956%206.13004%200.0939312%205.99736%200.21543L0.255482%205.46917C0.122489%205.59106%200.049442%205.75379%200.0498612%205.92679C0.049442%206.10046%200.122489%206.26309%200.255482%206.38488Z%22%20fill%3D%22%231F1F1F%22/%3E%0A%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.calendar__current-month-text {
    font-family: GilroyBold, sans-serif;
    font-size: 14px;
    color: #1f1f1f;
}

.calendar__month {
    padding: 18px;
    padding-bottom: 0;
}

.calendar__month-wrapper {
    margin-top: 12px;
    border-bottom: 1px solid #F1F2F6;
    padding-bottom: 6px;
}

.calendar__month-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F1F2F6;
    padding-bottom: 12px;
}

.calendar__month-header-item {
    font-size: 12px;
    color: #C2C3C8;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__month-week {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 6px;
}

.calendar__month-week-day {
    font-size: 12px;
    color: #1f1f1f;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .4s ease-out;
}

.calendar__month-week-day:hover {
    background-color: #C6C7CC;
    color: #1f1f1f;
}

.calendar__month-week-day_active {
    background-color: #006CEB;
    color: #ffffff;
}

.calendar__month-week-day_unactive {
    color: #C6C7CC;
}

.calendar__month-week-day_current {
    color: #006CEB;
}

.calendar__month-week-day_active.calendar__month-week-day_current {
    color: #ffffff;
}

.calendar__button {
    padding: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: transparent;
    border: none;
    color: #C2C3C8;
    font-size: 14px;
    font-family: GilroyRegular, sans-serif;
    width: 100%;
    transition: .4s ease-out;
}

.calendar__button:hover {
    background-color: #C6C7CC;
    color: #1f1f1f;
}
