.modal-block-m {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
}

.modal-block-m_dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-block-m__inner {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.modal-block-m__container {
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    box-sizing: border-box;
}

.modal-block-m__header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.modal-block-m__close {
    width: 16px;
    height: 16px;
}
