.form__checkbox {
    padding-left: 20px;
    box-sizing: border-box;
}

.form__checkbox input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form__checkbox label {
    font-size: 14px;
    color: #000000;
    cursor: pointer;
    font-family: GilroyRegular, sans-serif;
    position: relative;
}

.form__checkbox label::before {
    display: inline-block;
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #1f1f1f;
    box-sizing: border-box;
}

.form__checkbox label::after {
    display: block;
    position: absolute;
    left: -17px;
    top: 4px;
    width: 9px;
    height: 8px;
    content: '';
    background-color: #006CEB;
    transform: scale(0);
    transition: transform .2s;
}

.form__checkbox input[type="checkbox"]:checked + label::before {
    background-color: transparent;
}

.form__checkbox input[type="checkbox"]:checked + label::after {
    display: block;
    left: -17px;
    top: 4px;
    width: 9px;
    height: 8px;
    background-color: #006CEB;
    transform: scale(1);
    transition: transform .2s;
}
