.btn-m {
    background-color: #006CEB;
    font-family: GilroyMedium, sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    padding: 0 18px;
    line-height: 48px;
    height: 52px;
    width: 100%;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    transition: background-color .4s ease-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    flex-grow: 1;
    align-items: center;
}

.btn-m:hover {
    background-color: #2F86ED;
}

.btn-m__medium {
    font-size: 16px;
    color: #ffffff;
    line-height: 50px;
    height: 50px;
    padding: 0 25px;
}

.btn-m__small {
    font-size: 14px;
    color: #ffffff;
    line-height: 38px;
    height: 38px;
    padding: 0 25px;
}

.btn-m_full-length {
    width: 100%;
}

.btn-m_transparent {
    background-color: transparent;
    color: #1f1f1f;
    padding: 0 10px;
    transition: color .4s ease-out;
}

.btn-m_transparent:hover {
    background-color: transparent;
    color: #666666;
}

.btn-m_gray {
    background-color: #F3F3F3;
    color: #1f1f1f;
    padding: 0 18px;
    transition: background-color .4s ease-out;
}

.btn-m_gray:hover {
    background-color: #D7D7D7;
}


.btn-m_filter {
    background-color: #ffffff;
    border: 2px solid #DDE2EF;
    padding: 0;
    font-size: 24px;
    line-height: 100%;
    color: #DDE2EF;
    font-weight: bold;
}

.btn-m_filter:hover {
    background-color: #fafafa;
    border-color: #006CEB;
    color: #006CEB;
}
