.comment-form__answer {
    display: flex;
    padding-left: 10px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
}

.comment-form__answer::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #006CEB;
}

.comment-form__answer-content {
    max-width: 90%;
    overflow: hidden;
    max-height: 43px;
}

.comment-form__answer-author {
    font-size: 14px;
    color: #1f1f1f;
    font-family: GilroyBold, sans-serif;
    line-height: 1em;
    margin-bottom: 5px;
}

.comment-form__answer-text {
    font-size: 12px;
    color: #828282;
    font-family: GilroyRegular, sans-serif;
    line-height: 1em;
}

.comment-form__answer-close {
    width: 12px;
    height: 12px;
    padding: 3px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Crect%20width%3D%222.40413%22%20height%3D%2221.6372%22%20transform%3D%22matrix%280.707111%20-0.707103%200.707111%200.707103%200.142578%201.8418%29%22%20fill%3D%22%23C4C4C4%22/%3E%0A%3Crect%20width%3D%222.40413%22%20height%3D%2221.6372%22%20transform%3D%22matrix%280.707111%200.707103%20-0.707111%200.707103%2015.4419%200.140625%29%22%20fill%3D%22%23C4C4C4%22/%3E%0A%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-self: center;
    margin-left: auto;
    cursor: pointer;
    transition: opacity .4s ease-out;
}

.comment-form__answer-close:hover {
    opacity: .6;
}

.comment-form__inner-wrap {
    padding: 12px 0;
    display: flex;
}

.comment-form__inner-wrap-active {
    padding-bottom: 0;
}

.comment-form__btn-wrap {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.comment-form__btn-cancel {
    max-width: 40%;
    width: 100%;
}

.comment-form__btn-send {
    max-width: 60%;
    width: 100%;
}

textarea.comment-form__input {
    border: 0;
    margin-left: 18px;
    font-family: GilroyRegular, sans-serif;
    color: #1f1f1f;
    font-size: 16px;
    outline: none;
    width: 100%;
    min-height: 42px;
    resize: none;
    box-sizing: border-box;
    background-color: transparent;
    padding-top: 14px;
}

div.comment-form__input-substitutor {
    border: 0;
    margin-left: 18px;
    font-family: GilroyRegular, sans-serif;
    font-size: 16px;
    outline: none;
    width: 100%;
    min-height: 42px;
    resize: none;
    box-sizing: border-box;
    background-color: transparent;
    color: #828282;
    line-height: 21px;
}

.comment-form__input::placeholder {
    font-family: GilroyRegular, sans-serif;
    color: #828282;
}

.comment-form__input_active {
    height: 100px;
}
