.btn-handler {
    background-color: #E4E4E4;
    border: none;
    box-shadow: none;
    width: 36px;
    height: 36px;
    padding: 9px 9px;
    cursor: pointer;
    transition: background-color .4s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-handler:hover {
    background-color: rgba(0, 108, 235, 0.7);
}

.btn-handler:hover svg {
    fill: #ffffff;
}

.btn-handler:focus {
    background-color: rgba(0, 108, 235, 0.7);
}

.btn-handler:focus svg {
    fill: #ffffff;
}

.btn-handler svg {
    width: 100%;
    height: 100%;
    fill: #4F4F4F;
    transition: fill .4s ease-out;
}

.route-m__route-footer-item {
    margin-left: 6px;
    margin-right: 6px;
}
