.content-m {
    padding-top: 68px;
    padding-bottom: 68px;
    background-color: #FAFAFA;
}

.content-m__container {
    max-width: 1600px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
}

.content-m__inner-card {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 720px) {
    .content-m__inner-card {
        margin-left: -12px;
        margin-right: -12px;
    }
}

.content-m__inner-map-card {
    margin-top: 20px;
}

.content-m__inner-table {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.content-m__inner-map {
    display: flex;
    flex-wrap: wrap;
}

.content-m__filter {
    display: flex;
    padding-bottom: 40px;
}

.content-m__filter-item {
    margin-right: 50px;
}

.content-m__filter-item_category {
    max-width: 320px;
    width: 100%;
}

.content-m__filter-item_status {
    max-width: 157px;
    width: 100%;
}

.content-m__filter-item_hall {
    max-width: 275px;
    width: 100%;
}

.content-m__toggle {
    display: flex;
    align-self: flex-end;
    align-items: center;
    margin-left: auto;
}

.content-m__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 26px;
}

.content-m__card {
    margin-bottom: 30px;
    display: flex;
    width: 100%;
}

.content-m__pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.content-m__header {
    font-size: 24px;
    font-family: GilroyMedium, sans-serif;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 36px;
}

.content-m__text {
    font-size: 16px;
    font-family: GilroyRegular, sans-serif;
    line-height: 24px;
    color: #3F3F3F;
    margin-bottom: 24px;
}

.content-m__col-md-4 {
    width: calc(33.33% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
}

@media screen and (max-width: 800px) {
    .content-m__col-sm-12 {
        width: calc(100% - 24px);
        margin-left: 12px;
        margin-right: 12px;
        display: flex;
    }
}

.content-m__col-xs-12 {
    width: 100%;
    max-width: 100%;
}

@media screen and (min-width: 720px) {
    .content-m__col-sm-6 {
        width: calc(50% - 24px);
        max-width: 50%;
        margin-left: 12px;
        margin-right: 12px;
    }
}

@media screen and (min-width: 720px) {
    .content-m__center-sm {
        margin-left: auto;
        margin-right: auto;
    }
}

.content-m_white {
    background-color: #ffffff;
}
