.content-m__inner-card {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 720px) {
    .content-m__inner-card {
        margin-left: -12px;
        margin-right: -12px;
    }
}

.content-m__col-xs-12 {
    width: 100%;
    max-width: 100%;
}

@media screen and (min-width: 720px) {
    .content-m__col-sm-6 {
        width: calc(50% - 24px);
        max-width: 50%;
        margin-left: 12px;
        margin-right: 12px;
    }
}

.card-m {
    width: 100%;
    padding: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    transition: box-shadow .4s ease-out;
    display: flex;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    position: relative;
}

.card-m:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
}

.card-m:focus {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12), 0px 0px 0px 2px rgba(0, 108, 235, 0.7);
}

.card-m__edit {
    box-shadow: none;
    background-color: #FDFDFD;
    border: 4px dashed #D1D5E2;
    transition: opacity .4s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 22px;
}

.card-m__edit:hover {
    box-shadow: none;
    opacity: 1;
}

@media screen and (min-width: 720px) {
    .card-m__edit {
        height: 156px;
    }
}

.card-m__edit-icon {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 4px solid #D1D5E2;
    position: relative;
    margin-right: 20px;
}

.card-m__edit-icon::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 4px;
    background-color: #D1D5E2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-m__edit-icon::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 4px;
    background-color: #D1D5E2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.card-m__edit-title {
    font-family: GilroyBold, sans-serif;
    font-size: 14px;
    color: #D1D5E2;
}
