.first-section-m {
    background-color: #F2F1EB;
    width: 100%;
    min-height: 640px;
    max-width: 100%;
    position: relative;
    font-family: GilroyRegular;
    padding-bottom: 64px;
}

.first-section-m__top {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.first-section-m__data {
    margin-top: 98px;
}

@media screen and (min-width: 720px) {
    .first-section-m__data {
        text-align: center;
    }
}

.first-section-m__header {
    font-family: GilroyBold;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 24px;
    margin-top: 0;
}

.first-section-m__descr {
    margin-bottom: 28px;
}

.first-section-m__container {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 76px;
}

.first-section-m__image {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
