.modal-block-m__trash-can {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: rgba(31, 31, 31, 0.7);
    transition: background-color .4s ease-out;
}

.modal-block-m__trash-can_active-top {
    position: fixed;
    z-index: 30;
    content: '';
    top: 0;
    left: 0;
}

.modal-block-m__trash-can_active-target {
    background-color: rgba(167, 13, 13, 0.7);
}

.modal-block-m__trash-can_active-bottom {
    position: fixed;
    z-index: 30;
    content: '';
    bottom: 0;
    left: 0;
}

.modal-block-m__trash-can svg {
    width: 22px;
    height: 24px;
    fill: #ffffff;
}
