.modal-block-m {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
}

.modal-block-m_dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-block-m__inner {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.modal-block-m__container {
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    box-sizing: border-box;
}

.modal-block-m__header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.modal-block-m__close {
    width: 16px;
    height: 16px;
}

.search-author {
    background-color: #ffffff;
    min-width: 100%;
    box-sizing: border-box;
    display: block;
}

.search-author__item {
    list-style: none;
    line-height: 1.3em;
    color: #1f1f1f;
    font-family: GilroyRegular;
    font-size: 18px;
    padding: 16px 20px;
    max-width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
}

.search-author__item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.search-author__item_padding-10 {
    padding: 10px;
}

.search-author__search {
    border: none;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-family: GilroyRegular, sans-serif;
    color: #1f1f1f;
    outline: none;
    padding-left: 38px;
    padding-right: 10px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2215%22%20height%3D%2214%22%20viewBox%3D%220%200%2015%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M5.8559%200C2.62136%200%200%202.6243%200%205.86062C0%209.09693%202.62136%2011.7212%205.8559%2011.7212C7.51722%2011.7212%209.01678%2011.0289%2010.0825%209.91698L13.7874%2013.6252L14.4942%2012.9178L10.7139%209.13409C11.344%208.19932%2011.7118%207.07291%2011.7118%205.86062C11.7118%202.6243%209.09043%200%205.8559%200ZM1%205.86062C1%203.17576%203.17447%201%205.8559%201C8.53732%201%2010.7118%203.17576%2010.7118%205.86062C10.7118%208.54548%208.53732%2010.7212%205.8559%2010.7212C3.17447%2010.7212%201%208.54548%201%205.86062Z%22%20fill%3D%22%23828282%22/%3E%0A%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 11px center;
    box-sizing: border-box;
}

.search-author__search::placeholder {
    color: #828282;
    font-family: GilroyRegular, sans-serif;
    font-size: 14px;
}

.search-author__search-wrapper {
    position: relative;
}

.search-author__search-wrapper::before {
    position: absolute;
    content: '';
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 1px;
    background-color: #EBEBEB;
}

.search-author__wrapper {
    max-height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.search-author__button-cancel {
    padding: 0;
    height: 44px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: transparent;
    border: none;
    color: #C2C3C8;
    font-size: 14px;
    font-family: GilroyRegular, sans-serif;
    width: 100%;
    transition: .4s ease-out;
    position: relative;
}

.search-author__button-cancel:hover {
    background-color: #C6C7CC;
    color: #1f1f1f;
}

.search-author__button-cancel::before {
    position: absolute;
    content: '';
    left: 10px;
    right: 10px;
    top: 0;
    height: 1px;
    background-color: #EBEBEB;
}
