.collapsable-block-m__header {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    width: 100%;
    text-align: left;
    position: relative;
    padding-right: 15px;
    padding-bottom: 16px;
    cursor: pointer;
    font-size: 18px;
    color: #1f1f1f;
    font-family: GilroyBold;
    line-height: 1.3em;
}

.collapsable-block-m__header_edit {
    cursor: default;
}

.collapsable-block-m__header_edit::after {
    display: none;
}

.collapsable-block-m__content {
    color: #1f1f1f;
    font-size: 16px;
    line-height: 1.3em;
    margin-bottom: 18px;
}

.track-m__notice-wrapper {
    margin-top: 14px;
    display: flex;
    justify-content: flex-end;
}

.track-m__notice {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 14px;
    top: 14px;
}

.track-m__notice-tooltip {
    position: absolute;
    content: '';
    right: calc(100% + 12px);
    top: 50%;
    transform: translateY(-50%);
}
