.form__field {
    position: relative;
    margin-bottom: 19px;
}

.form__field-error .form__input {
    border-bottom: 2px solid #EB002A;
}

.form__field-error .form__field-error-message {
    display: block;
}

.form__field-error-message {
    display: none;
    font-size: 12px;
    color: #EB002A;
    font-family: GilroyBold, sans-serif;
}

.form__input-wrapper {
    display: block;
}

.form__label {
    position: absolute;
    content: '';
    top: 3px;
    left: 0;
    transform: translate(0, 7px);
    font-family: GilroyRegular, sans-serif;
    font-size: 14px;
    color: #828282;
    line-height: 1em;
    cursor: text;
    transform-origin: left bottom;
    transition: .4s;
}

.form__input {
    width: 100%;
    padding: 0;
    outline: none;
    height: 35px;
    border: 0px solid transparent;
    border-bottom: 2px solid #E3E3E3;
    color: #1f1f1f;
    position: relative;
    background-color: transparent;
}

.form__input::placeholder {
    color: transparent;
}

.form__input-number {
    -moz-appearance: textfield;
}

.form__input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.form__input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form__input:focus {
    border-bottom: 2px solid #006CEB;
}

.form__input:placeholder-shown + .form__label {
    transform: translate(0, 7px) scale(1);
}

.form__input:not(:placeholder-shown) + .form__label,
.form__input:focus + .form__label {
    transform: translate(0, -12px) scale(0.8);
    left: 0;
    top: 0;
    cursor: pointer;
    color: #1f1f1f;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
