.m-menu {
    width: 100%;
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
}

.m-menu__user-block {
    height: 76px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.m-menu__user-name {
    margin-left: 20px;
}

.m-menu__inner-block {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.m-menu__list {
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0;
    padding-bottom: 0;
}

.m-menu__list:not(:last-child) {
    border-bottom: 8px solid #F0F0F0;
}

.m-menu__list-item {
    list-style: none;
}

.m-menu__list-item:not(:last-child) {
    border-bottom: 1px solid #E1E1E1;
}

.m-menu__list-link {
    display: block;
    color: #1F1F1F;
    font-family: GilroyRegular, sans-serif;
    font-size: 16px;
    text-decoration: none;
    line-height: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.m-menu__list-link:hover, .m-menu__list-link:focus, .m-menu__list-link:active {
    color: #006CEB;
}

.m-menu__search {
    padding-top: 14px;
    padding-bottom: 14px;
    line-height: 24px;
    padding-left: 28px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    font-family: GilroyRegular, sans-serif;
    color: #1f1f1f;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.25501%200.0141602C3.77828%200.0141602%200.995117%202.94678%200.995117%206.5199C0.995117%2010.093%203.77828%2013.0256%207.25501%2013.0256C9.02553%2013.0256%2010.6162%2012.2651%2011.751%2011.0468L16.3127%2016.0142L16.9951%2015.2711L12.3841%2010.2498C13.0975%209.19133%2013.5149%207.90364%2013.5149%206.5199C13.5149%202.94678%2010.7317%200.0141602%207.25501%200.0141602ZM1.99512%206.5199C1.99512%203.45926%204.36954%201.01416%207.25501%201.01416C10.1405%201.01416%2012.5149%203.45926%2012.5149%206.5199C12.5149%209.58053%2010.1405%2012.0256%207.25501%2012.0256C4.36954%2012.0256%201.99512%209.58053%201.99512%206.5199Z%22%20fill%3D%22%231F1F1F%22/%3E%0A%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 0 center;
}

.m-menu__search::placeholder {
    color: #1f1f1f;
}

.m-menu__header {
    font-size: 16px;
    color: #1f1f1f;
    line-height: 24px;
    font-family: GilroyRegular, sans-serif;
    font-weight: normal;
}

.m-menu__user-hamburger {
    margin-left: auto;
}
