.notice {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M8%200C3.58198%200%200%203.58198%200%208C0%2012.4185%203.58198%2016%208%2016C12.4185%2016%2016%2012.419%2016%208C16%203.58198%2012.4185%200%208%200ZM8%2014.5C4.41002%2014.5%201.50002%2011.59%201.50002%208C1.50002%204.41002%204.41002%201.50002%208%201.50002C11.59%201.50002%2014.5%204.41002%2014.5%208C14.5%2011.59%2011.59%2014.5%208%2014.5ZM8.0005%203.50848C7.42752%203.50848%206.99398%203.80751%206.99398%204.29049V8.72048C6.99398%209.20397%207.42746%209.50198%208.0005%209.50198C8.5595%209.50198%209.00703%209.1915%209.00703%208.72048V4.29049C9.00697%203.81897%208.5595%203.50848%208.0005%203.50848ZM8.0005%2010.5C7.45001%2010.5%207.00198%2010.948%207.00198%2011.499C7.00198%2012.049%207.45001%2012.497%208.0005%2012.497C8.551%2012.497%208.99852%2012.049%208.99852%2011.499C8.99847%2010.948%208.551%2010.5%208.0005%2010.5Z%22%20fill%3D%22%231F1F1F%22/%3E%0A%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity .4s ease-out;
}

.notice:hover {
    opacity: .6;
}

.notice:focus + .track-m__notice-tooltip {
    display: block;
}
