.route-m__table {
    margin-bottom: 22px;
    margin-top: 22px;
}

.route-m__table-row {
    display: flex;
    padding: 5px 0 5px;
}

.route-m__table-item {
    width: 50%;
    font-size: 14px;
}

.route-m__table-item_header {
    color: #828282;
}

.route-m__table-item .level {
    font-family: GilroyRegular, sans-serif;
}

.route-m__table-item-right {
    padding-left: 20px;
    box-sizing: border-box;
}

.level {
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: GilroyBold, sans-serif;
    color: #1f1f1f;
    width: 46px;
    height: 24px;
    padding-top: 2px;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
    border: 4px solid transparent;
}

.level_7b {
    border: 4px solid #6DA8D2;
}

.level_5c {
    border: 4px solid #E24D4D;
}

.level_big {
    font-size: 16px;
    height: 28px;
}

.level_large {
    width: 74px;
    height: 44px;
    font-size: 24px;
}

.mark-color-picker__info {
    cursor: pointer;
}

.mark-color-picker__color {
    display: inline-block;
    width: 60px;
    height: 20px;
    vertical-align: middle;
    margin-left: 15px;
}
