.footer-m {
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #1A1A1A;
    color: #FCFCFC;
    position: relative;
}

.footer-m__container {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.footer-m__block-group {
    display: flex;
}

.footer-m__social {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 36px;
}

.footer-m__header {
    font-size: 18px;
    font-weight: normal;
    color: #FCFCFC;
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-m__item {
    box-sizing: border-box;
    width: 100%;
    padding-right: 20px;
    margin-bottom: 40px;
}

.footer-m__list {
    padding-left: 0;
    margin: 0;
    margin-top: -6px;
}

.footer-m__list-item {
    list-style: none;
}

.footer-m__list-link {
    color: #878787;
    text-decoration: none;
    line-height: 1.3em;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
    transition: color .4s ease-out;
}

.footer-m__list-link-disabled {
    color: #444444;
    pointer-events: none;
}

.footer-m__list-link:hover {
    color: #FCFCFC;
}

.footer-m__progress-bar {
    position: absolute;
    left: 0;
    bottom: calc(100% - 3px);
    height: 3px;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
}

.footer-m__progress-bar_fixed {
    position: fixed;
    bottom: 0;
}

.footer-m__progress-bar-indicator {
    background-color: #006CEB;
    height: 100%;
    width: 100%;
}

.footer-m__col-6 {
    max-width: 50%;
    width: 100%;
}
