.header-m__info-block {
    margin-bottom: 22px;
    margin-top: auto;
}

.header-m__info-item {
    display: flex;
    align-items: center;
    padding: 12px;
    background: rgba(13, 13, 13, 0.3);
    color: #ffffff;
    margin-bottom: 16px;
}

.header-m__info-item-number {
    border: 1px solid rgba(255, 255, 255, 0.05);
    font-size: 20px;
    line-height: 18px;
    font-family: GilroyBold, sans-serif;
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-m__info-item-descr {
    font-size: 14px;
    margin-left: 12px;
}
